html, body, div, ul, li, ol, dt, dd, p, h1, h2, h3, h4, h5, h6, img, span {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

img {
  width: 100%;
  height: auto; }

@media only screen and (max-width: 400px) and (min-width: 360px) {
  html, body {
    font-size: 11.25px; } }
@media only screen and (max-width: 470px) and (min-width: 400px) {
  html, body {
    font-size: 12.5px; } }
@media only screen and (max-width: 480px) and (min-width: 470px) {
  html, body {
    font-size: 14.6875px; } }
@media only screen and (max-width: 540px) and (min-width: 480px) {
  html, body {
    font-size: 15px; } }
@media only screen and (max-width: 560px) and (min-width: 540px) {
  html, body {
    font-size: 16.875px; } }
@media only screen and (max-width: 570px) and (min-width: 560px) {
  html, body {
    font-size: 17.5px; } }
@media only screen and (min-width: 640px) {
  html, body {
    font-size: 20px; } }
ul, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif; }

.clearfix:after
, .clearfix:before {
  content: "";
  clear: both;
  display: block; }

.clearfix {
  zoom: 1; }

.wrap {
  max-width: 640px;
  min-width: 300px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
  background-color: #fff; }

input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  font: 13.3333px Arial; }

.top-search {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.25rem;
  max-width: 640px;
  overflow: hidden;
  background: #b81c22;
  z-index: 999; }
  .top-search .top-form {
    position: absolute;
    left: 0.9rem;
    width: 85%;
    top: 50%;
    height: 2.2rem;
    margin-top: -1.1rem;
    line-height: 2.9rem;
    background: #fff;
    border-radius: 0.3rem;
    overflow: hidden; }
    .top-search .top-form .search-btn {
      position: absolute;
      left: 0px;
      top: 50%;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.8rem;
      margin-top: -0.75rem;
      display: inline-block;
      background: url("../images/search2.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      cursor: pointer; }
    .top-search .top-form .search-content {
      position: absolute;
      left: 3.3rem;
      font-size: inherit;
      top: 50%;
      margin-top: -0.95rem;
      width: 85%;
      height: 85%;
      vertical-align: middle; }
  .top-search .top-message {
    position: absolute;
    display: inline-block;
    right: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 1.8rem;
    height: 1.3rem;
    background: url("../images/msg3.png") no-repeat;
    -webkit-background-size: 100% 100%; }
    .top-search .top-message .newMesg {
      position: absolute;
      display: inline-block;
      top: -0.2rem;
      right: -0.5rem;
      border: 0.2rem solid #fff;
      border-radius: 0.2rem; }

.search-pro {
  position: fixed;
  top: 4.25rem;
  width: 100%;
  height: 100%;
  max-width: 640px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 1000; }
  .search-pro .hot-words {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #fff;
    overflow-x: hidden; }
    .search-pro .hot-words .hotwords-tit {
      margin: 0.5rem auto 0.5rem 1rem;
      color: #999; }
    .search-pro .hot-words .hotword-box {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1; }
      .search-pro .hot-words .hotword-box .word-item {
        display: block;
        float: left;
        width: 20%;
        text-align: center; }
  .search-pro .search-history .search-history-tit {
    margin: 0.5rem auto 0.5rem 1rem;
    color: #999; }
  .search-pro .search-history .clear-history {
    width: 35%;
    height: 2rem;
    line-height: 2rem;
    margin: 1rem auto 0;
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
    cursor: pointer; }
  .search-pro .search-history .clear-history:hover {
    color: #000;
    background: #fff; }

.pic-nav {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2; }
  .pic-nav li {
    margin: 0 5px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2); }
  .pic-nav li.active {
    background: #c71620 !important; }

.index-content {
  position: relative;
  top: 4.25rem;
  margin-bottom: 4.25rem;
  max-width: 640px;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2; }
  .index-content .adv-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%; }
    .index-content .adv-container .lunbo-box {
      position: relative;
      width: 600%;
      z-index: 1;
      overflow: hidden; }
      .index-content .adv-container .lunbo-box .adv-item {
        float: left;
        max-width: 640px;
        position: relative;
        width: 16.66667%;
        height: 100%; }
        .index-content .adv-container .lunbo-box .adv-item a {
          width: 100%;
          display: block; }
  .index-content .tip {
    width: 100%;
    overflow: hidden;
    margin-top: 2px; }
    .index-content .tip a {
      display: block;
      line-height: 0;
      width: 100%; }
  .index-content .prodlist {
    width: 100%;
    margin-top: 2px;
    overflow: hidden; }
    .index-content .prodlist .prod-left {
      width: 50%;
      float: left; }
    .index-content .prodlist .prod-right {
      margin: 0 -2px 0 2px;
      width: 50%;
      float: left; }

.bomcontrol {
  height: auto;
  width: 100%;
  margin-top: 2px;
  overflow: hidden;
  margin-bottom: 3.2em; }

.bomcontrol > .see-all {
  width: 50%;
  float: left; }

.bomcontrol > .ret-top {
  margin: 0 -2px 0 2px;
  width: 50%;
  float: left; }

.prodlist a {
  display: block;
  line-height: 0;
  width: 100%; }

.login > a {
  font-size: 1.2em;
  color: #4c4c4c;
  line-height: 1em;
  display: inline-block;
  background: #fff;
  padding: .5em 2.5em; }

.login {
  text-align: center;
  padding: 3.5em 0; }
  .login a:first-child {
    margin-right: 6px; }
  .login a:last-child {
    margin-left: 6px; }

.footer {
  margin-bottom: 5rem;
  text-align: center; }
  .footer ul {
    display: inline-block;
    border-bottom: 1px solid #4c4d4d;
    border-top: 1px solid #4d4d4d;
    padding: 1.2em 0; }
    .footer ul li:nth-of-type(2) {
      margin-left: 2.8em;
      margin-right: 1.4em; }
    .footer ul li:nth-of-type(3) {
      margin-left: 1.4em;
      margin-right: 2.8em; }
    .footer ul li {
      line-height: 0;
      float: left; }
      .footer ul li a {
        display: block;
        width: 3.5em; }
        .footer ul li a img {
          width: 100%;
          max-width: 100%; }

.footer > .copyright {
  line-height: 2em;
  color: #4c4c4c;
  text-align: center;
  font-size: 100%;
  font-weight: 400; }

.bom-nav {
  position: fixed;
  bottom: 0;
  max-width: 640px;
  width: 100%;
  height: 4.25rem;
  border-top: 1px solid #999;
  overflow: hidden;
  background-color: #fff;
  z-index: 999; }
  .bom-nav a {
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    color: #999;
    text-align: center;
    display: inline-block;
    line-height: 0; }
    .bom-nav a .nav-bg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 3rem;
      height: 4rem;
      background: url(../images/bom-nav.jpg) no-repeat;
      background-size: 3rem 40rem;
      overflow: hidden; }
  .bom-nav a:nth-of-type(1) > .nav-bg {
    background-position: 0rem 0rem; }
  .bom-nav a.active:nth-of-type(1) > .nav-bg {
    background-position: 0rem -20rem; }
  .bom-nav a.active:nth-of-type(2) > .nav-bg {
    background-position: 0rem -24rem; }
  .bom-nav a.active:nth-of-type(3) > .nav-bg {
    background-position: 0rem -28rem; }
  .bom-nav a.active:nth-of-type(4) > .nav-bg {
    background-position: 0rem -12rem; }
  .bom-nav a.active:nth-of-type(5) > .nav-bg {
    background-position: 0rem -16rem; }
  .bom-nav a:nth-of-type(2) > .nav-bg {
    background-position: 0rem -4rem; }
  .bom-nav a:nth-of-type(3) > .nav-bg {
    background-position: 0rem -8rem; }
  .bom-nav a:nth-of-type(4) > .nav-bg {
    background-position: 0rem -12rem; }
  .bom-nav a:nth-of-type(5) > .nav-bg {
    background-position: 0rem -16rem; }

/*-------------lei-box-----*/
.top-tit {
  position: relative;
  top: 0;
  max-width: 640px;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  background: #b81c22;
  text-align: center;
  line-height: 4rem; }
  .top-tit .topBack {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    width: 1.4rem;
    height: 1.4rem;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    cursor: pointer; }
  .top-tit .top-txt {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #fff; }

.lei-content {
  position: relative;
  top: 0rem;
  margin-bottom: 4.25rem;
  max-width: 640px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  line-height: 1.5; }
  .lei-content .container {
    background-color: #e5e5e5; }
    .lei-content .container .left-nav {
      width: 25%;
      float: left;
      height: 100%; }
      .lei-content .container .left-nav ul {
        width: 100%;
        height: 100%;
        text-align: center; }
        .lei-content .container .left-nav ul li {
          display: block;
          height: 3rem;
          line-height: 3rem;
          border-bottom: 1px solid #fff;
          cursor: pointer; }
        .lei-content .container .left-nav ul li.active {
          background-color: #fff;
          color: #CC0000; }
    .lei-content .container .product-right {
      width: 75%;
      float: right;
      min-height: 567px;
      display: none;
      background: #fff; }
      .lei-content .container .product-right ul {
        width: 100%;
        height: 100%; }
        .lei-content .container .product-right ul li {
          display: block;
          float: left;
          width: 33%;
          text-align: center;
          overflow: hidden;
          cursor: pointer; }
          .lei-content .container .product-right ul li img {
            display: block;
            width: 75%;
            margin: 0.5rem auto; }
          .lei-content .container .product-right ul li span {
            width: 100%;
            display: block;
            color: #999; }

/*------cloth-box---------*/
.cloth-content a {
  display: block;
  text-decoration: none; }

.cloth-content {
  position: relative;
  top: 0rem;
  margin-bottom: 4.25rem;
  max-width: 640px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  line-height: 1.5; }
  .cloth-content .container {
    background: #fff; }
    .cloth-content .container .cloth-adv {
      width: 100%;
      overflow: hidden;
      font-size: 1.5em;
      color: #4C4C4C; }
      .cloth-content .container .cloth-adv .toppic {
        padding-top: 2px;
        text-align: center; }
        .cloth-content .container .cloth-adv .toppic li {
          width: 33.3%;
          float: left; }
    .cloth-content .container .toppic {
      padding-top: 2px;
      text-align: center; }
      .cloth-content .container .toppic li {
        width: 33.3%;
        float: left; }

/*# sourceMappingURL=index.css.map */
